#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #FFFFFF;
}


.app {
  display: flex;
  flex-direction: column;     
  align-items: center;        
  justify-content: center;    
  min-height: 100vh;          
  gap: 30px;                  
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}


.card {
  width: 320px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #000;
}
